body {
  background: #fbfbfb;
  margin: 0;
  padding: 0;
  font-family: 'open sans', '微軟正黑體', sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 15px;
  line-height: 1.5;
}
.header {
  background: rgba(255,255,255,0.975);
  border-bottom: 1px solid rgba(0,0,0,0.05);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  overflow: hidden;
  .site-title {
    transition: 0.2s;
    float: left;
    margin: 0 0 0 5%;
    padding: 25px 0;
    font-size: 15px;
    position: relative;
    z-index: 2;
    span {
      color: #2885FF;
      &.dot {
        color: #222;
        padding: 0 2px;
      }
    }
    a {
      color: #222;
      text-decoration: none;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .site-menu-toggle {
    display: none;
  }
}
* {
  // color: #fff;
  color: #666;
}
.site-menu {
  display: block;
  float: right;
  margin: 0 5% 0 0;
  padding: 25px 0;
  // text-align: center;
  // border-bottom: 1px solid #ddd;
  // border-top: 1px solid #ddd;
  li {
    display: inline-block;
    a {
      color: #000;
      text-decoration: none;
      display: block;
      padding: 0 0 0 20px;
      font-size: 13px;
      font-weight: bold;
      &:hover {
        color: #2885FF;
      }
      &.active {
        color: #2885FF;
      }
    }
  } 
}
.main-block {
  width: 90%;
  margin: auto;
  padding: 103px 0 0;
}

.footer {
  position: fixed;
  background: #eee;
  box-shadow: 0 -10px 10px rgba(0,0,0,0.02);
  border-top: 1px solid #fff;
  color: #888;
  // text-align: center;
  padding: 7px 5%;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .header {
    overflow: unset;
    .site-title {
      background: rgba(255, 255, 255, 0.975);
      float: none;
      margin: 0 0 0 20px;
    }
    .site-menu {
      background: rgba(255, 255, 255, 0.975);
      border-bottom: 1px solid rgba(0,0,0,0.05);
      border-top: 1px solid rgba(0,0,0,0.05);
      // display: none;
      float: none;
      text-align: center;
      padding: 15px 0;
      margin: 0;

      visibility: hidden; /* hides sub-menu */
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      transform: translateY(-2em);
      z-index: -1;
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  
      li {
        a {
          padding: 0 10px;
        }
      } 
      &.show {
        /*display: block;*/
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
  
      }
    }
    .site-menu-toggle {
      display: block;
      position: fixed;
      right: 9px;
      top: 16px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color: #000;
      cursor: pointer;
      z-index: 3;
    }
  }
  .main-block {
    width: calc(100% - 40px);
    margin: 0 auto;
    box-sizing: border-box;
    padding: 103px 0 0;
  }
}